.calculator-container{
    background-color: #606060;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    padding-right: 15px;
    height: 700px;
    width: 350px;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow:1px 3px 3px 5px rgb(37, 35, 35) ;
}
